<icecast>
  <location>Spain</location>
  <admin>admin@stannet.space</admin>
  <limits>
    <clients>500</clients>
    <sources>4</sources>
    <queue-size>524288</queue-size>
    <client-timeout>30</client-timeout>
    <header-timeout>15</header-timeout>
    <source-timeout>10</source-timeout>
    <burst-on-connect>1</burst-on-connect>
    <burst-size>65535</burst-size>
  </limits>
  <authentication>
    <source-password>${ICECAST_SOURCE_PASSWORD}</source-password>
    <relay-password>${ICECAST_RELAY_PASSWORD}</relay-password>
    <admin-user>${ICECAST_ADMIN_USER}</admin-user>
    <admin-password>${ICECAST_ADMIN_PASSWORD}</admin-password>
  </authentication>
  <hostname>${ICECAST_HOSTNAME}</hostname>
  <listen-socket>
    <port>8000</port>
  </listen-socket>
  <http-headers>
    <header name="Access-Control-Allow-Origin" value="https://www.stannet.space" />
  </http-headers>
  <mount type="normal">
    <mount-name>/stannet.mp3</mount-name>
    <public>0</public>
    <max-listeners>500</max-listeners>
  </mount>
  <fileserve>1</fileserve>
  <paths>
    <basedir>/usr/share/icecast2</basedir>
    <logdir>/var/log/icecast2</logdir>
    <webroot>/usr/share/icecast2/web</webroot>
    <adminroot>/usr/share/icecast2/admin</adminroot>
    <alias source="/" destination="/status.xsl"/>
  </paths>
  <logging>
    <accesslog>access.log</accesslog>
    <errorlog>error.log</errorlog>
    <loglevel>2</loglevel>
    <logsize>10000</logsize>
  </logging>
  <security>
    <chroot>0</chroot>
  </security>
</icecast>
