ICECAST_SOURCE_PASSWORD=CHANGE_ME_LONG_RANDOM_SOURCE_PASSWORD
ICECAST_RELAY_PASSWORD=CHANGE_ME_LONG_RANDOM_RELAY_PASSWORD
ICECAST_ADMIN_PASSWORD=CHANGE_ME_LONG_RANDOM_ADMIN_PASSWORD
ICECAST_ADMIN_USER=admin
ICECAST_HOSTNAME=radio.stannet.space
STANNET_RADIO_API=https://www.stannet.space
RADIO_RECENT_TRACKS=5
RADIO_DOMAIN=radio.stannet.space
